In [1]:
import pandas as pd
import os

In [ ]:
vehicle_entities = pd.read_csv("/Users/przemek/Documents/GitHub/Lodz_Hack/Wiki_Testing_Area/bin_csv_output/vehicle_positions_entities.csv")
vehicle_positions = pd.read_csv("/Users/przemek/Documents/GitHub/Lodz_Hack/Wiki_Testing_Area/bin_csv_output/vehicle_positions_vehicle_positions.csv")

In [ ]:
vehicle_entities.head(10)

,entity_id,is_deleted,has_trip_update,has_vehicle_position,has_alert,vp_trip_id,vp_route_id,vp_vehicle_id,vp_latitude,vp_longitude,vp_speed,vp_bearing,vp_current_stop_id,vp_current_status,vp_timestamp
0,vehicle_1001,False,False,True,False,11312_3430,54B,1001,51.753361,19.511049,10.5,NaN,791,0,1764759516
1,vehicle_1005,False,False,True,False,11312_11025,Z3,1005,51.811741,19.482809,12.7,NaN,1375,2,1764759518
2,vehicle_1007,False,False,True,False,11312_5135,66,1007,51.838638,19.467390,13.3,NaN,1597,0,1764759516
3,vehicle_1153,False,False,True,False,11312_3382,54B,1153,51.771992,19.576321,15.2,NaN,3757,2,1764759510
4,vehicle_1158,False,False,True,False,11312_4810,64A,1158,51.796131,19.504499,6.1,NaN,98,2,1764759370
5,vehicle_1161,False,False,True,False,11312_8634,88D,1161,51.779289,19.451450,0.0,NaN,209,2,1764759520
6,vehicle_1165,False,False,True,False,11312_8319,87A,1165,51.789890,19.420401,0.0,NaN,2084,2,1764759518
7,vehicle_1169,False,False,True,False,11312_3944,59,1169,51.783329,19.450140,0.0,NaN,634,2,1764759518
8,vehicle_1171,False,False,True,False,11312_7296,80A,1171,51.766350,19.466660,0.0,NaN,1362,1,1764759514
9,vehicle_1173,False,False,True,False,11312_8297,87A,1173,51.779129,19.481150,0.0,NaN,1280,2,1764759508

entity_id -> id pojazdu

is_deleted -> cokolwiek, zawsze False

has_trip_update -> pokazuje aktualizacje rokzladu, tutaj prawei zawsze False

has_vehicle_poistion -> czy jest lokazlizacja, zawsze true

has_alert -> bolean, teraz wiekszosc bez

vp_trip_id -> id podrozy

vp_route_id -> nr linii, to samo co w positions

vp_vehicle_id -> nr taborowy

vp_latitude -> szerokosci geo

vp_longitude -> dlugosc geo

vp_speed -> predkosci

vp_bearing -> kierunek ruchu na mapie w stopniach, nie potrzebne

vp_current_stop_id -> id_najblizszego przystanku

current_status -> status co robi pojazd

vp_timestamp -> czas

In [ ]:
vehicle_positions.head(10)

,entity_id,trip_id,route_id,vehicle_id,latitude,longitude,speed,bearing,current_stop_id,current_stop_sequence,current_status,timestamp,congestion_level,occupancy_status
0,vehicle_1001,11312_3430,54B,1001,51.753361,19.511049,10.5,NaN,791,11,0,1764759516,0,7
1,vehicle_1005,11312_11025,Z3,1005,51.811741,19.482809,12.7,NaN,1375,13,2,1764759518,0,7
2,vehicle_1007,11312_5135,66,1007,51.838638,19.467390,13.3,NaN,1597,6,0,1764759516,0,7
3,vehicle_1153,11312_3382,54B,1153,51.771992,19.576321,15.2,NaN,3757,9,2,1764759510,0,7
4,vehicle_1158,11312_4810,64A,1158,51.796131,19.504499,6.1,NaN,98,12,2,1764759370,0,7
5,vehicle_1161,11312_8634,88D,1161,51.779289,19.451450,0.0,NaN,209,7,2,1764759520,0,7
6,vehicle_1165,11312_8319,87A,1165,51.789890,19.420401,0.0,NaN,2084,3,2,1764759518,0,7
7,vehicle_1169,11312_3944,59,1169,51.783329,19.450140,0.0,NaN,634,13,2,1764759518,0,7
8,vehicle_1171,11312_7296,80A,1171,51.766350,19.466660,0.0,NaN,1362,25,1,1764759514,0,7
9,vehicle_1173,11312_8297,87A,1173,51.779129,19.481150,0.0,NaN,1280,18,2,1764759508,0,7

entity_id -> id pojazdu

trip_id -> id przejazdu

route_id - > nr linii

vehicle_id -> nr taborowy pojazdu (nr wewnetrzy nadany przez mpk)

latitude -> szerokosc geograficzna

longitude -> dlugosc geograficzna

speed -> predkosc

bearing -> kierunek ruchu w stopniach - PRAWIE WSZEDZIE NAN-y,  0 - polnoc, 90 - wschod - genrealnie do usuniecia

current_stop_id -> id najbliszego przystanku, aktualnego przystanku - do polaczenia z GTFS static

current_stop_sequence -> nr aktualnego przystanku na trasie, w kolejnosci przystankow w rozkladzie

current_status -> 0 - incoming_at - zbliza sie do przysanku
                  1 - stopped_at - stoi na przystanku
                  2 - in_transit_to - jedzie w trasie

timestamp -> czas

congestion_level -> poziom zatloczenia drogi, zwykle NAN-y - do usuniecia

occupancy_status -> poziom zatłoczenia pojazdu - do usuniecia

In [ ]:
for col in vehicle_positions.columns:
    print(f"\n--- {col} ---")
    print(vehicle_positions[col].unique()[:50])  # pokazuje do 50 wartości
    print(f"Unikalnych: {vehicle_positions[col].nunique()}")

## ALERTS ##
active_period -> kiedy alert obowiązuje

informed_entity -> kogo dotyczy (linie, kursy, przystanki)

cause -> powód alertu

effect -> skutek alertu

header_text -> krótki tytuł

description_text -> pełny opis

url -> link do więcej info

severity_level -> ważność komunikatu

In [9]:
trip_entities = pd.read_csv("/Users/przemek/Documents/GitHub/Lodz_Hack/Wiki_Testing_Area/bin_csv_output/trip_updates_entities.csv")
trip_positions = pd.read_csv("/Users/przemek/Documents/GitHub/Lodz_Hack/Wiki_Testing_Area/bin_csv_output/trip_updates_trip_updates.csv")

In [10]:
trip_entities.head(10)

,entity_id,is_deleted,has_trip_update,has_vehicle_position,has_alert,tu_trip_id,tu_route_id,tu_direction_id,tu_start_time,tu_vehicle_id,tu_stop_updates_count
0,trip_11312_3430,False,True,False,False,11312_3430,54B,0,NaN,1001,1
1,trip_11312_11025,False,True,False,False,11312_11025,Z3,1,NaN,1005,1
2,trip_11312_5135,False,True,False,False,11312_5135,66,1,NaN,1007,1
3,trip_11312_3382,False,True,False,False,11312_3382,54B,1,NaN,1153,2
4,trip_11312_4810,False,True,False,False,11312_4810,64A,1,NaN,1158,2
5,trip_11312_8634,False,True,False,False,11312_8634,88D,0,NaN,1161,1
6,trip_11312_8319,False,True,False,False,11312_8319,87A,1,NaN,1165,1
7,trip_11312_3944,False,True,False,False,11312_3944,59,1,NaN,1169,1
8,trip_11312_7296,False,True,False,False,11312_7296,80A,1,NaN,1171,1
9,trip_11312_8297,False,True,False,False,11312_8297,87A,1,NaN,1173,1

entity_id -> Unikalny identyfikator encji w feedzie GTFS-RT (konkretny pojazd lub kurs).

is_deleted -> Informacja, czy encja została oznaczona jako usunięta z feedu (zwykle False).

has_trip_update -> Czy encja zawiera dane aktualizacji rozkładu (ETA, opóźnienia).

has_vehicle_position ->Czy encja zawiera dane o pozycji pojazdu (GPS).

has_alert -> Czy encja zawiera powiązane alerty (np. objazdy, komunikaty).

tu_trip_id -> ID kursu w rozkładzie jazdy (powiązany z trip_id z GTFS static).

tu_route_id -> Numer linii, której dotyczy aktualizacja (np. 15, 54B, Z3).

tu_direction_id -> Kierunek jazdy:
                        0 = pierwszy kierunek,
                        1 = drugi kierunek (GTFS: inbound/outbound).

tu_start_time -> Planowana godzina rozpoczęcia kursu z GTFS static.

tu_vehicle_id -> Identyfikator pojazdu wykonującego kurs (numer taborowy).

tu_stop_updates_count -> Liczba aktualizacji przystanków w tym kursie (ile stopów dostało informację o opóźnieniach).

In [11]:
trip_positions.head(10)

,entity_id,trip_id,route_id,stop_id,stop_sequence,arrival_delay,arrival_time,departure_delay,departure_time,schedule_relationship
0,trip_11312_3430,11312_3430,54B,791,11,-18,NaN,NaN,NaN,0
1,trip_11312_11025,11312_11025,Z3,1375,13,-49,NaN,NaN,NaN,0
2,trip_11312_5135,11312_5135,66,1597,6,-21,NaN,NaN,NaN,0
3,trip_11312_3382,11312_3382,54B,3757,9,102,NaN,NaN,NaN,0
4,trip_11312_3382,11312_3382,54B,3757,9,102,NaN,NaN,NaN,0
5,trip_11312_4810,11312_4810,64A,98,12,7,NaN,NaN,NaN,0
6,trip_11312_4810,11312_4810,64A,98,12,7,NaN,NaN,NaN,0
7,trip_11312_8634,11312_8634,88D,209,7,243,NaN,NaN,NaN,0
8,trip_11312_8319,11312_8319,87A,2084,3,95,NaN,NaN,NaN,0
9,trip_11312_3944,11312_3944,59,634,13,-92,NaN,NaN,NaN,0

entity_id -> ID encji, pozwala połączyć z trip_updates_entities.csv.

trip_id -> ID kursu z GTFS (pozwala powiązać z rozkładem).

route_id -> Numer linii, której dotyczy aktualizacja (np. 15, 55, 80A).

stop_id -> ID przystanku dla którego podano aktualizację.

stop_sequence -> Numer przystanku w kolejności na trasie (1 = pierwszy).

arrival_delay -> Opóźnienie przyjazdu w sekundach (np. 120 = 2 min spóźnienia).

arrival_time -> Przewidywana godzina przyjazdu (epoch timestamp).

departure_delay ->Opóźnienie odjazdu w sekundach.

departure_time -> Przewidywana godzina odjazdu (epoch timestamp).

schedule_relationship - > Relacja z rozkładem.
                            Najczęstsze wartości GTFS:
                            •	SCHEDULED — normalny kurs
                            •	SKIPPED — przystanek pominięty
                            •	NO_DATA — brak danych
                            •	ADDED — dodatkowy kurs

In [12]:
for col in trip_positions.columns:
    print(f"\n--- {col} ---")
    print(trip_positions[col].unique()[:50])  # pokazuje do 50 wartości
    print(f"Unikalnych: {trip_positions[col].nunique()}")

--- entity_id ---
['trip_11312_3430' 'trip_11312_11025' 'trip_11312_5135' 'trip_11312_3382'
 'trip_11312_4810' 'trip_11312_8634' 'trip_11312_8319' 'trip_11312_3944'
 'trip_11312_7296' 'trip_11312_8297' 'trip_11312_10970' 'trip_11312_3978'
 'trip_11312_4999' 'trip_11312_3165' 'trip_11312_9847' 'trip_11312_6865'
 'trip_11312_4963' 'trip_11312_7263' 'trip_11312_7272' 'trip_11312_7280'
 'trip_11312_7255' 'trip_11312_7288' 'trip_11312_7276' 'trip_11312_7293'
 'trip_11312_7259' 'trip_11312_4954' 'trip_11312_3241' 'trip_11312_7561'
 'trip_11312_4867' 'trip_11312_9751' 'trip_11312_9771' 'trip_11312_8138'
 'trip_11312_9386' 'trip_11312_5076' 'trip_11312_6808' 'trip_11312_7539'
 'trip_11312_9415' 'trip_11312_7939' 'trip_11312_9564' 'trip_11312_9318'
 'trip_11312_9304' 'trip_11312_9481' 'trip_11312_4482' 'trip_11312_8677'
 'trip_11312_4326' 'trip_11312_2997' 'trip_11312_7853' 'trip_11312_7815'
 'trip_11312_7887' 'trip_11312_7907']
Unikalnych: 329

--- trip_id ---
['11312_3430' '11312_11025' '11312_5135' '11312_3382' '11312_4810'
 '11312_8634' '11312_8319' '11312_3944' '11312_7296' '11312_8297'
 '11312_10970' '11312_3978' '11312_4999' '11312_3165' '11312_9847'
 '11312_6865' '11312_4963' '11312_7263' '11312_7272' '11312_7280'
 '11312_7255' '11312_7288' '11312_7276' '11312_7293' '11312_7259'
 '11312_4954' '11312_3241' '11312_7561' '11312_4867' '11312_9751'
 '11312_9771' '11312_8138' '11312_9386' '11312_5076' '11312_6808'
 '11312_7539' '11312_9415' '11312_7939' '11312_9564' '11312_9318'
 '11312_9304' '11312_9481' '11312_4482' '11312_8677' '11312_4326'
 '11312_2997' '11312_7853' '11312_7815' '11312_7887' '11312_7907']
Unikalnych: 329

--- route_id ---
['54B' 'Z3' '66' '64A' '88D' '87A' '59' '80A' '65A' '53A' '99' '78' '81A'
 '64B' '86' '96' '83' '60D' '89' '60A' '51B' '53B' '73' '58B' 'Z' '88A'
 '54A' '58A' '84A' '87B' '77' '68' '72A' '55A' '63' '91A' '75A' '57' '97B'
 '75B' '62' '82B' '69A' '70' '76' '69B' '52' 'Z13' 'W' '82A']
Unikalnych: 78

--- stop_id ---
[ 791 1375 1597 3757   98  209 2084  634 1362 1280 3819 3514 1308 1017
 3062   22  977  952  566  788 1115 2765  489 1498 1247 3784  763 1433
  316   34 1675 3011 1302 2776 1162 1692   16 1161 1059  635 1131 2498
  307 2935 1298  764  492 1358 1352 1367]
Unikalnych: 300

--- stop_sequence ---
[11 13  6  9 12  7  3 25 18  2  4 28 30 42 23 14 29 32 37 33 20 10  8 35
 16 24 15 22 26 19 41 34 17 38 27 50 21 55  5 31 47 36]
Unikalnych: 42

--- arrival_delay ---
[-18 -49 -21 102   7 243  95 -92 154  65 -40  20  52   1  79 210 -19 -79
 -83 116 222 202 493  37 406 296   8 157  70  24  92  41 195  96  35  75
 283 155 113  44 119 -22 258  58  11 354  73 220 276 186]
Unikalnych: 230

--- arrival_time ---
[nan]
Unikalnych: 0

--- departure_delay ---
[nan]
Unikalnych: 0

--- departure_time ---
[nan]
Unikalnych: 0

--- schedule_relationship ---
[0]
Unikalnych: 1